<div class="page-header">
    <h1>User Login</h1>
</div>


<form ng-submit="main.doLogin(loginData);">
 
    <!--Username-->
    <lable>Username</lable>
    <input ng-disabled="main.disabled" class="form-control" type="text" name="username" placeholder="Please Enter the User Name" ng-model="main.loginData.username">
    <br>
    <!--password-->
    <lable>password</lable>
    <input ng-disabled="main.disabled" class="form-control" type="password" name="password" placeholder="Please Enter the Password" ng-model="main.loginData.password">
    <br>
    <button ng-disabled="main.disabled ||facebook.disabled || google.disabled" class="btn btn-primary" type="submit">Login</button> &nbsp;

    <button ng-disabled="main.disabled ||facebook.disabled || google.disabled"  type="button" class="btn btn-success" ng-click="main.facebook();">Facebook</button> &nbsp;
    
    <button ng-disabled="main.disabled ||facebook.disabled || google.disabled"  type="button" class="btn btn-warning" ng-click="main.twitter();">Twitter</button>
    &nbsp;
    <button ng-disabled="main.disabled ||facebook.disabled || google.disabled"  type="button" class="btn btn-info" ng-click="main.google();">Google</button>
    <div class="reset">
       <a href="/resetpassword"><button ng-disabled="main.disabled ||facebook.disabled || google.disabled"  type="button" class="btn btn-danger">Reset Password</button></a>
    <a href="/resetusername"><button ng-disabled="main.disabled ||facebook.disabled || google.disabled"  type="button" class="btn btn-primary" >Forgot Username</button></a>
        
        
    </div>
    
</form>

<br>

<div class="jumbotron text-center" ng-show="main.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading.. </p>
</div>
<div class="row show-hide-message" ng-show="main.successMsg">
    <div class='alert alert-success'>{{main.successMsg}}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class='alert alert-danger'>{{main.errorMsg}} 
    <a ng-show="main.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation link </button></a>
</div>
</div>


<div class="row show-hide-message" ng-show="facebook.errorMsg">
    <div class='alert alert-danger'>{{facebook.errorMsg}} <a ng-show="facebook.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation link </button></a></div>
</div>


<div class="row show-hide-message" ng-show="google.errorMsg">
    <div class='alert alert-danger'>{{google.errorMsg}} <a ng-show="google.expired" href="/resend"><button type="button" class="btn btn-success">Resend Activation link </button></a></div>
</div>