<div class="page-header">
    
    <h1>{{main.CurrName}} 's profile </h1>
    
</div>
<div class="panel panel-info">
    
    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>
        <table class="table">
        <tr>
            <td>Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Password</td>
            <td>Permission</td>
            
        </tr>

        <tr>
            <td>{{main.CurrName}}</td>
            <td>{{main.CurrUsername}}</td>
            <td>{{main.CurrEmail}}</td>
            <td>***************</td>
            <td>{{main.CurrPermission}}</td>
        </tr>

        </table>
</div>